# astro
.astro/
dist/

# debug
npm-debug.log*

# dependencies
/node_modules

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store

# production
/build

# testing
/coverage

# typescript
*.tsbuildinfo

# vscode
.vscode
