# astro
.astro/

# debug
npm-debug.log*

# dependencies
/node_modules

# local env files
.env

# misc
.DS_Store

# production
/build

# testing
/coverage

# typescript
*.tsbuildinfo

# vscode
.vscode
