---
import Head from '../components/Head.astro';
import '../styles/global.css';
---

<html>
  <Head />
  <body lang="en">
    <h1 class="font-cal-sans text-4xl">Hello, World!</h1>
    <p class="font-inter text-md">
      This is a sample page using Astro with Tailwind CSS and custom fonts.
    </p>
  </body>
</html>
